name: "Testing Github Actions"
on: [push]

jobs:
  build-push-docker:
    name: "Build & push docker images"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      - name: "Login to hub.docker.com"
        uses: azure/docker-login@v1
        with:
          login-server: https://index.docker.io/v1/
          username: ariefrahmansyah
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
      - name: "Build docker image"
        run: docker build -t ariefrahmansyah/test-github-actions:${{ github.sha }} .
      - name: "Push docker image"
        run: docker push ariefrahmansyah/test-github-actions:${{ github.sha }}

  multi-services:
    name: "Test multi services"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12.4
        env:
          POSTGRES_DB: test
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        ports:
        - 5432:5432
      keto:
        image: oryd/keto:v0.4.3-alpha.2
        env:
          DSN: memory
        ports:
        - 4466:4466
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
      - name: "Check connection"
        run: |
          lsof -i :5432
          lsof -i :4466
